.containerSubject {
    display: flex;
    flex-direction: column;
  }

  .descriptionContainer
  {
    margin-top: 20px;
    width: 400px;
    height: 300px;
  }

  .subjectContainer
  {
    margin-top: 15px;
    width: 400px;
  }

  .status-dropdown {
    flex-grow: 0;
    color: #fff;
    border: none;
    outline: none;
   }